@{
    ViewData["Title"] = "Obowiązki domowe";
}
@* Krótki opis aplikacji*@
<div class="text-center">
    <h1 class="display-4">Witaj!<i class="bi bi-emoji-heart-eyes-fill"></i></h1>
    
    <p>
        <h2>
            Moja strona poświęcona jest obowiązkom domowym, które niekiedy stają się problematyczne.
        <br>
       Z tego powodu stworzyłam tabelkę, która pozwoli w łatwy i przyjemny sposób rozplanować Twoje obowiązki.
        <br> 
        Aby móc stworzyć listę musisz się zalogować.
        <br>
        Jeśli nie posiadasz konta na stronie ZAREJESTRUJ SIĘ.<i class="bi bi-box-arrow-right"></i>
        <br>
        Po zalogowaniu się na stronie będzie można utworzyć, usunąć a nawet zmodyfikować swoją listę obowiązków.
        <br>
        UWAGA <i class="bi bi-exclamation-triangle-fill"></i> Aplikacja pozwala nadać Twoim obowiązkom PRIORYTET <i class="bi bi-emoji-sunglasses"></i>
        </h2>
    </p>
</div>
